/* Home.css */
header {
  background-color: #1aaec5;
  padding: 20px;
  text-align: center;
  height: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home-page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.home-page::before {
  content: "";
  background-image: url(C:\Users\DELL\Desktop\JOB_PORTAL\client\src\images\Home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.home-page::before {
  opacity: 0.85;
}

h2 {
  font-size: 35px;
  color: black;
  align-content: center;
  margin: 12px;
}

p {
  font-size: 18px;
}
